<% include ./partials/header %>

<div class="container text-center" id="formnew">
    <form action="/slj/<%= cloth._id %>?_method=PUT" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input class="form-control form-control-sm" id="name" type="text" name="cloth[name]" value="<%= cloth.name %>">
            </div>
            <div class="form-group col-md-8">
                <label for="image">Image</label>
                <input class="form-control form-control-sm" type="text" name="cloth[image]" value="<%= cloth.image %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="price">Price</label>
                <input class="form-control form-control-sm" id="price" type="number" name="cloth[price]" value="<%= cloth.price %>">
            </div>
            <div class="form-group col-md-4">
                <label for="seller">Seller</label>
                <input class="form-control form-control-sm" id="seller" type="text" name="cloth[seller]" value="<%= cloth.seller %>">
            </div>
            <div class="form-group col-md-4">
                <label for="fabric">Fabric Type</label>
                <input class="form-control form-control-sm" id="fabric" type="text" name="cloth[fabric]" value="<%= cloth.fabric %>">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="description">Description</label>
            <textarea class="form-control form-control-sm" id="description" name="cloth[description]"><%= cloth.description %></textarea>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

<% include ./partials/footer %>